<html>
<title>
    Catalogo de roldanas
</title>

<body>
    <h1>Catalogo</h1>
    <table border="1px"> 
        <tr>
            <td>NOME_FANTASIA</td>
            <td>DATA_FABRICACAO</td>
            <td>COR</td>
            <td>PRECO</td>
            <td>ALTURA</td>
            <td>PESO</td>
        </tr>
        <%for (var i=0; i<resultsHTML.length; i++) {%>
            <tr>
                <td><%=resultsHTML[i].NOME_FANTASIA%></td>
                <td><%=resultsHTML[i].DATA_FABRICACAO%></td>
                <td><%=resultsHTML[i].COR%></td>
                <td><%=resultsHTML[i].PRECO%></td>
                <td><%=resultsHTML[i].ALTURA%></td>
                <td><%=resultsHTML[i].PESO%></td>
            </tr>
        <%}%>
        </table>
    </body>
    
</html>